{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>vaidik</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css ' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css ' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    .jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }
.input-group span i{
    border-right:0 ;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
}
.jumbotron-sm .form-group .select .option .span{
    text-align: right;
}
.h1{
    text-align: center;
    background-color: antiquewhite;
    color:brown;
}
.jumbotron-sm{
    background-color: antiquewhite;
}
.btn-primary{
    background-color: rgb(113, 113, 236);
}
.col-md-12 button{
    margin-bottom: 10px;
}

.col-md-4 img{ 
    border:none;
}
</style>
</head>


<body>
    
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
{% comment %} 					
                    <div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone-square"></i> 0755-4012502</a></li>
                            <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            <li><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container-fluid">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <img src="{% static 'images/mylogo.png' %}" alt="" srcset="" style="width:80px;  ">
                    <!-- <a class="navbar-brand" href="/" style="font-weight: bold; color: red; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp; VAIDIKPOOJA</a> -->
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item "><a class="nav-link" href="/">&nbsp;Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about-us">&nbsp;About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/services">&nbsp;Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="/team">&nbsp;Our Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact-us">&nbsp;Contact us</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/order">&nbsp;Book Online</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
           
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Book Now</h2>
                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"> Contact Us </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <hr>
    </div>




    <div class="container" style="background:transparent; margin-top: 60px; margin-bottom: 60px;">
            <div class="row">
                    <div class="col-md-8">
                        <p class="h3" style="color:red;"><b>{{error}}</b></p>
                    <p class="h3" style="color:green;"><b>{{message}}</b></p>
                        <div class="well well-sm">
                            <form action="/order/" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            <b>Name *</b></label>
                                        <input type="text" onkeypress='charOnly(event)' class="form-control" name="name" id="name" placeholder="Enter name" required="required" />
                                    </div>

                                    <div class="form-group">
                                        <label for="email">
                                            <b>Email </b></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"><i class="fa fa-envelope" style="font-size:24px"></i></span>
                                            </span>
                                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email"  /></div>
                                    </div>
        
                                    <div class="form-group">
                                        <label for="phone">
                                            <b>Phone *</b></label>
                                        <div class="input-group">
                                            {% comment %} <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"><i class="fa fa-phone" style="font-size:24px"></i></span>
                                            </span> {% endcomment %}
        <select name="countryCode" id="" style="width:100px;">
        <option data-countryCode="IN" value="+91" Selected>India (+91)</option>
        <option data-countryCode="US" value="+1">USA (+1)</option>
		<option data-countryCode="DZ" value="+213">Algeria (+213)</option>
		<option data-countryCode="AD" value="+376">Andorra (+376)</option>
		<option data-countryCode="AO" value="+244">Angola (+244)</option>
		<option data-countryCode="AI" value="+1264">Anguilla (+1264)</option>
		<option data-countryCode="AG" value="+1268">Antigua &amp; Barbuda (+1268)</option>
		<option data-countryCode="AR" value="+54">Argentina (+54)</option>
		<option data-countryCode="AM" value="+374">Armenia (+374)</option>
		<option data-countryCode="AW" value="+297">Aruba (+297)</option>
		<option data-countryCode="AU" value="+61">Australia (+61)</option>
		<option data-countryCode="AT" value="+43">Austria (+43)</option>
		<option data-countryCode="AZ" value="+994">Azerbaijan (+994)</option>
		<option data-countryCode="BS" value="+1242">Bahamas (+1242)</option>
		<option data-countryCode="BH" value="+973">Bahrain (+973)</option>
		<option data-countryCode="BD" value="+880">Bangladesh (+880)</option>
		<option data-countryCode="BB" value="+1246">Barbados (+1246)</option>
		<option data-countryCode="BY" value="+375">Belarus (+375)</option>
		<option data-countryCode="BE" value="+32">Belgium (+32)</option>
		<option data-countryCode="BZ" value="+501">Belize (+501)</option>
		<option data-countryCode="BJ" value="+229">Benin (+229)</option>
		<option data-countryCode="BM" value="+1441">Bermuda (+1441)</option>
		<option data-countryCode="BT" value="+975">Bhutan (+975)</option>
		<option data-countryCode="BO" value="+591">Bolivia (+591)</option>
		<option data-countryCode="BA" value="+387">Bosnia Herzegovina (+387)</option>
		<option data-countryCode="BW" value="+267">Botswana (+267)</option>
		<option data-countryCode="BR" value="+55">Brazil (+55)</option>
		<option data-countryCode="BN" value="+673">Brunei (+673)</option>
		<option data-countryCode="BG" value="+359">Bulgaria (+359)</option>
		<option data-countryCode="BF" value="+226">Burkina Faso (+226)</option>
		<option data-countryCode="BI" value="+257">Burundi (+257)</option>
		<option data-countryCode="KH" value="+855">Cambodia (+855)</option>
		<option data-countryCode="CM" value="+237">Cameroon (+237)</option>
		<option data-countryCode="CA" value="+1">Canada (+1)</option>
		<option data-countryCode="CV" value="+238">Cape Verde Islands (+238)</option>
		<option data-countryCode="KY" value="+1345">Cayman Islands (+1345)</option>
		<option data-countryCode="CF" value="+236">Central African Republic (+236)</option>
		<option data-countryCode="CL" value="+56">Chile (+56)</option>
		<option data-countryCode="CN" value="+86">China (+86)</option>
		<option data-countryCode="CO" value="+57">Colombia (+57)</option>
		<option data-countryCode="KM" value="+269">Comoros (+269)</option>
		<option data-countryCode="CG" value="+242">Congo (+242)</option>
		<option data-countryCode="CK" value="+682">Cook Islands (+682)</option>
		<option data-countryCode="CR" value="+506">Costa Rica (+506)</option>
		<option data-countryCode="HR" value="+385">Croatia (+385)</option>
		<option data-countryCode="CU" value="+53">Cuba (+53)</option>
		<option data-countryCode="CY" value="+90392">Cyprus North (+90392)</option>
		<option data-countryCode="CY" value="+357">Cyprus South (+357)</option>
		<option data-countryCode="CZ" value="+42">Czech Republic (+42)</option>
		<option data-countryCode="DK" value="+45">Denmark (+45)</option>
		<option data-countryCode="DJ" value="+253">Djibouti (+253)</option>
		<option data-countryCode="DM" value="+1809">Dominica (+1809)</option>
		<option data-countryCode="DO" value="+1809">Dominican Republic (+1809)</option>
		<option data-countryCode="EC" value="+593">Ecuador (+593)</option>
		<option data-countryCode="EG" value="+20">Egypt (+20)</option>
		<option data-countryCode="SV" value="+503">El Salvador (+503)</option>
		<option data-countryCode="GQ" value="+240">Equatorial Guinea (+240)</option>
		<option data-countryCode="ER" value="+291">Eritrea (+291)</option>
		<option data-countryCode="EE" value="+372">Estonia (+372)</option>
		<option data-countryCode="ET" value="+251">Ethiopia (+251)</option>
		<option data-countryCode="FK" value="+500">Falkland Islands (+500)</option>
		<option data-countryCode="FO" value="+298">Faroe Islands (+298)</option>
		<option data-countryCode="FJ" value="+679">Fiji (+679)</option>
		<option data-countryCode="FI" value="+358">Finland (+358)</option>
		<option data-countryCode="FR" value="+33">France (+33)</option>
		<option data-countryCode="GF" value="+594">French Guiana (+594)</option>
		<option data-countryCode="PF" value="+689">French Polynesia (+689)</option>
		<option data-countryCode="GA" value="+241">Gabon (+241)</option>
		<option data-countryCode="GM" value="+220">Gambia (+220)</option>
		<option data-countryCode="GE" value="+7880">Georgia (+7880)</option>
		<option data-countryCode="DE" value="+49">Germany (+49)</option>
		<option data-countryCode="GH" value="+233">Ghana (+233)</option>
		<option data-countryCode="GI" value="+350">Gibraltar (+350)</option>
		<option data-countryCode="GR" value="+30">Greece (+30)</option>
		<option data-countryCode="GL" value="+299">Greenland (+299)</option>
		<option data-countryCode="GD" value="+1473">Grenada (+1473)</option>
		<option data-countryCode="GP" value="+590">Guadeloupe (+590)</option>
		<option data-countryCode="GU" value="+671">Guam (+671)</option>
		<option data-countryCode="GT" value="+502">Guatemala (+502)</option>
		<option data-countryCode="GN" value="+224">Guinea (+224)</option>
		<option data-countryCode="GW" value="+245">Guinea - Bissau (+245)</option>
		<option data-countryCode="GY" value="+592">Guyana (+592)</option>
		<option data-countryCode="HT" value="+509">Haiti (+509)</option>
		<option data-countryCode="HN" value="+504">Honduras (+504)</option>
		<option data-countryCode="HK" value="+852">Hong Kong (+852)</option>
		<option data-countryCode="HU" value="+36">Hungary (+36)</option>
		<option data-countryCode="IS" value="+354">Iceland (+354)</option>
		<option data-countryCode="IN" value="+91">India (+91)</option>
		<option data-countryCode="ID" value="+62">Indonesia (+62)</option>
		<option data-countryCode="IR" value="+98">Iran (+98)</option>
		<option data-countryCode="IQ" value="+964">Iraq (+964)</option>
		<option data-countryCode="IE" value="+353">Ireland (+353)</option>
		<option data-countryCode="IL" value="+972">Israel (+972)</option>
		<option data-countryCode="IT" value="+39">Italy (+39)</option>
		<option data-countryCode="JM" value="+1876">Jamaica (+1876)</option>
		<option data-countryCode="JP" value="+81">Japan (+81)</option>
		<option data-countryCode="JO" value="+962">Jordan (+962)</option>
		<option data-countryCode="KZ" value="+7">Kazakhstan (+7)</option>
		<option data-countryCode="KE" value="+254">Kenya (+254)</option>
		<option data-countryCode="KI" value="+686">Kiribati (+686)</option>
		<option data-countryCode="KP" value="+850">Korea North (+850)</option>
		<option data-countryCode="KR" value="+82">Korea South (+82)</option>
		<option data-countryCode="KW" value="+965">Kuwait (+965)</option>
		<option data-countryCode="KG" value="+996">Kyrgyzstan (+996)</option>
		<option data-countryCode="LA" value="+856">Laos (+856)</option>
		<option data-countryCode="LV" value="+371">Latvia (+371)</option>
		<option data-countryCode="LB" value="+961">Lebanon (+961)</option>
		<option data-countryCode="LS" value="+266">Lesotho (+266)</option>
		<option data-countryCode="LR" value="+231">Liberia (+231)</option>
		<option data-countryCode="LY" value="+218">Libya (+218)</option>
		<option data-countryCode="LI" value="+417">Liechtenstein (+417)</option>
		<option data-countryCode="LT" value="+370">Lithuania (+370)</option>
		<option data-countryCode="LU" value="+352">Luxembourg (+352)</option>
		<option data-countryCode="MO" value="+853">Macao (+853)</option>
		<option data-countryCode="MK" value="+389">Macedonia (+389)</option>
		<option data-countryCode="MG" value="+261">Madagascar (+261)</option>
		<option data-countryCode="MW" value="+265">Malawi (+265)</option>
		<option data-countryCode="MY" value="+60">Malaysia (+60)</option>
		<option data-countryCode="MV" value="+960">Maldives (+960)</option>
		<option data-countryCode="ML" value="+223">Mali (+223)</option>
		<option data-countryCode="MT" value="+356">Malta (+356)</option>
		<option data-countryCode="MH" value="+692">Marshall Islands (+692)</option>
		<option data-countryCode="MQ" value="+596">Martinique (+596)</option>
		<option data-countryCode="MR" value="+222">Mauritania (+222)</option>
		<option data-countryCode="YT" value="+269">Mayotte (+269)</option>
		<option data-countryCode="MX" value="+52">Mexico (+52)</option>
		<option data-countryCode="FM" value="+691">Micronesia (+691)</option>
		<option data-countryCode="MD" value="+373">Moldova (+373)</option>
		<option data-countryCode="MC" value="+377">Monaco (+377)</option>
		<option data-countryCode="MN" value="+976">Mongolia (+976)</option>
		<option data-countryCode="MS" value="+1664">Montserrat (+1664)</option>
		<option data-countryCode="MA" value="+212">Morocco (+212)</option>
		<option data-countryCode="MZ" value="+258">Mozambique (+258)</option>
		<option data-countryCode="MN" value="+95">Myanmar (+95)</option>
		<option data-countryCode="NA" value="+264">Namibia (+264)</option>
		<option data-countryCode="NR" value="+674">Nauru (+674)</option>
		<option data-countryCode="NP" value="+977">Nepal (+977)</option>
		<option data-countryCode="NL" value="+31">Netherlands (+31)</option>
		<option data-countryCode="NC" value="+687">New Caledonia (+687)</option>
		<option data-countryCode="NZ" value="+64">New Zealand (+64)</option>
		<option data-countryCode="NI" value="+505">Nicaragua (+505)</option>
		<option data-countryCode="NE" value="+227">Niger (+227)</option>
		<option data-countryCode="NG" value="+234">Nigeria (+234)</option>
		<option data-countryCode="NU" value="+683">Niue (+683)</option>
		<option data-countryCode="NF" value="+672">Norfolk Islands (+672)</option>
		<option data-countryCode="NP" value="+670">Northern Marianas (+670)</option>
		<option data-countryCode="NO" value="+47">Norway (+47)</option>
		<option data-countryCode="OM" value="+968">Oman (+968)</option>
		<option data-countryCode="PW" value="+680">Palau (+680)</option>
		<option data-countryCode="PA" value="+507">Panama (+507)</option>
		<option data-countryCode="PG" value="+675">Papua New Guinea (+675)</option>
		<option data-countryCode="PY" value="+595">Paraguay (+595)</option>
		<option data-countryCode="PE" value="+51">Peru (+51)</option>
		<option data-countryCode="PH" value="+63">Philippines (+63)</option>
		<option data-countryCode="PL" value="+48">Poland (+48)</option>
		<option data-countryCode="PT" value="+351">Portugal (+351)</option>
		<option data-countryCode="PR" value="+1787">Puerto Rico (+1787)</option>
		<option data-countryCode="QA" value="+974">Qatar (+974)</option>
		<option data-countryCode="RE" value="+262">Reunion (+262)</option>
		<option data-countryCode="RO" value="+40">Romania (+40)</option>
		<option data-countryCode="RU" value="+7">Russia (+7)</option>
		<option data-countryCode="RW" value="+250">Rwanda (+250)</option>
		<option data-countryCode="SM" value="+378">San Marino (+378)</option>
		<option data-countryCode="ST" value="+239">Sao Tome &amp; Principe (+239)</option>
		<option data-countryCode="SA" value="+966">Saudi Arabia (+966)</option>
		<option data-countryCode="SN" value="+221">Senegal (+221)</option>
		<option data-countryCode="CS" value="+381">Serbia (+381)</option>
		<option data-countryCode="SC" value="+248">Seychelles (+248)</option>
		<option data-countryCode="SL" value="+232">Sierra Leone (+232)</option>
		<option data-countryCode="SG" value="+65">Singapore (+65)</option>
		<option data-countryCode="SK" value="+421">Slovak Republic (+421)</option>
		<option data-countryCode="SI" value="+386">Slovenia (+386)</option>
		<option data-countryCode="SB" value="+677">Solomon Islands (+677)</option>
		<option data-countryCode="SO" value="+252">Somalia (+252)</option>
		<option data-countryCode="ZA" value="+27">South Africa (+27)</option>
		<option data-countryCode="ES" value="+34">Spain (+34)</option>
		<option data-countryCode="LK" value="+94">Sri Lanka (+94)</option>
		<option data-countryCode="SH" value="+290">St. Helena (+290)</option>
		<option data-countryCode="KN" value="+1869">St. Kitts (+1869)</option>
		<option data-countryCode="SC" value="+1758">St. Lucia (+1758)</option>
		<option data-countryCode="SD" value="+249">Sudan (+249)</option>
		<option data-countryCode="SR" value="+597">Suriname (+597)</option>
		<option data-countryCode="SZ" value="+268">Swaziland (+268)</option>
		<option data-countryCode="SE" value="+46">Sweden (+46)</option>
		<option data-countryCode="CH" value="+41">Switzerland (+41)</option>
		<option data-countryCode="SI" value="+963">Syria (+963)</option>
		<option data-countryCode="TW" value="+886">Taiwan (+886)</option>
		<option data-countryCode="TJ" value="+7">Tajikstan (+7)</option>
		<option data-countryCode="TH" value="+66">Thailand (+66)</option>
		<option data-countryCode="TG" value="+228">Togo (+228)</option>
		<option data-countryCode="TO" value="+676">Tonga (+676)</option>
		<option data-countryCode="TT" value="+1868">Trinidad &amp; Tobago (+1868)</option>
		<option data-countryCode="TN" value="+216">Tunisia (+216)</option>
		<option data-countryCode="TR" value="+90">Turkey (+90)</option>
		<option data-countryCode="TM" value="+7">Turkmenistan (+7)</option>
		<option data-countryCode="TM" value="+993">Turkmenistan (+993)</option>
		<option data-countryCode="TC" value="+1649">Turks &amp; Caicos Islands (+1649)</option>
		<option data-countryCode="TV" value="+688">Tuvalu (+688)</option>
		<option data-countryCode="UG" value="+256">Uganda (+256)</option>
		<!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
        <option data-countryCode="GB" value="+44" >UK (+44)</option>
		<option data-countryCode="UA" value="+380">Ukraine (+380)</option>
		<option data-countryCode="AE" value="+971">United Arab Emirates (+971)</option>
		<option data-countryCode="UY" value="+598">Uruguay (+598)</option>
		<!-- <option data-countryCode="US" va+lue="1">USA (+1)</option> -->
		<option data-countryCode="UZ" value="+7">Uzbekistan (+7)</option>
		<option data-countryCode="VU" value="+678">Vanuatu (+678)</option>
		<option data-countryCode="VA" value="+379">Vatican City (+379)</option>
		<option data-countryCode="VE" value="+58">Venezuela (+58)</option>
		<option data-countryCode="VN" value="+84">Vietnam (+84)</option>
		<option data-countryCode="VG" value="+84">Virgin Islands - British (+1284)</option>
		<option data-countryCode="VI" value="+84">Virgin Islands - US (+1340)</option>
		<option data-countryCode="WF" value="+681">Wallis &amp; Futuna (+681)</option>
		<option data-countryCode="YE" value="+969">Yemen (North)(+969)</option>
		<option data-countryCode="YE" value="+967">Yemen (South)(+967)</option>
		<option data-countryCode="ZM" value="+260">Zambia (+260)</option>
		<option data-countryCode="ZW" value="+263">Zimbabwe (+263)</option>
	</optgroup>
</select>
 <input type="text" class="form-control" onkeypress='validate(event)' name="phone" id="phone" placeholder="Enter phone" minlength="8" maxlength="15" required="required" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Select of Puja">
                                            <b>Select Pooja *</b></label>
                                        <select id="Select of Puja" name="select_pooja" class="form-control" required>
                                            <!-- <option value="na" >Choose One:</option> -->
                                            <option value="Guru Parampara Pooja / " >Guru Parampara Pooja      </option>
                                            <option value="Rudraabhishek 21000/-">Rudraabhishek 21000/-</option>
                                            <option value="Mahamrityunjay Jaap 75000/-">Mahamrityunjay Jaap 75000/-</option>
                                            <option value="Mahamrityunjay Yagya 51000/-">Mahamrityunjay Yagya 51000/-</option>
                                            <option value="Satchandi Yagya 75000/-">Satchandi Yagya 75000/-</option>
                                            <option value="Durga Nav Satra Paath 5100/-">Durga Nav Satra Paath 5100/-</option>
                                            <option value="Mahalaxmi Yagya 41000/-">Mahalaxmi Yagya 41000/-</option>
                                            <option value="Deepawali Poojan 41000/-">Deepawali Poojan 41000/-</option>
                                            <option value="Sarv Badhao se nivaran hetu 41000/-">Sarv Badhao se nivaran hetu 41000/-</option>
                                            <option value="Shatruon se Mukti hetu Yagya 41000/-">Shatruon se Mukti hetu Yagya 41000/- </option>
                                            <option value="Pitambra Devi Yagya 51000/-">Pitambra Devi ki Pooja 51000/-</option>
                                            <option value="Vastu Pooja 50000/-">Vastu Pooja 50000/-</option>
                                            <option value="Ganesh Yagya 41000/-">Ganesh Yagya 41000/-</option>
                                            <option value="Saraswati Yagya 41000/-">Saraswati Pooja 41000/-</option>
                                            <option value="Bhagwat Geeta Paath Yagya 21000/-">Bhagwat Geeta Paath Yagya 21000/- </option>
                                            <option value="Saubhagya ki Prapti hetu Pooja 41000/-">Saubhagya ki Prapti hetu Pooja 41000/- </option>
                                            <option value="Var/Kanya Vivah ">Var/Kanya Vivah </option>
                                            <option value="Var/Kanya Vivah ">Bhumi Pujan</option>
                                            <option value="Jyotish se Sambandhit Jaankari 3100/-">Jyotish se Sambandhit Jaankari 3100/- </option>
                                            <option value="Kundli Vichaar 2100/-">Kundli Vichaar 2100/- </option>
                                            <option value="Vyapaar se Sambandhit Yagya 41000/-">Vyapaar se Sambandhit Yagya 41000/-</option>
                                            <option value="Dainik Pooja Yagya 7000/-">Dainik Pooja Yagya 7000/-</option>
                                            <option value="Nav Grahon ki shakti hetu yagya 31000/-">Nav Grahon ki shakti hetu Yagya 31000/- </option>
                                            <option value="Kasht Nivaran Pooja 50000/-">Kasht Nivaran Pooja 50000/- </option>
                                            <option value="Pitra Dosh yagya 21000/-">Pitra Dosh Yagya 21000/-  </option>
                                            <option value="Kaal Sarp yagya 31000/-">Kaal Sarp Pooja 31000/- </option>
                                            <option value="Mangal Dosh Pooja Yagya 21000/-">Mangal Dosh Pooja Yagya 21000/- </option>
                                            <option value="Shaanti Pooja Paath 10000/-">Shaanti Pooja Paath 10000/-</option>
                                        </select>
                                    </div>
                                </div>
        
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            <b>Address *</b></label>
                                        <textarea name="address" id="address" class="form-control" rows="5" cols="20" required="required"
                                            placeholder="Address"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="date">
                                            <b>Date *</b></label>
                                        <input type="date" class="form-control" id="date" name="date" required="required" />
                                    </div>
                                    <br>
                                <div class="col-md-12">
                                    <button type="Book Now" class="btn btn-primary pull-right" id="btnBookNow">
                                        Book Now </button><br>
                                        
                                </div>
                               
                            </div>
                             
                            </form>
                        </div>
                    </div>
                </div>
            <div class="col-md-4"> 
                <img src="{% static 'images/g30.jpeg' %}" alt="" class="w-100 mb-4 border border-md border-white shadow-sm">
            </div>
            </div>
            </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12" style="background-color: rgb(206, 206, 206);">
            <center>
            <h4 class="texxt" style="font-size:25px;" ><b>For Payments</b></h4>
                <h4 class="textt" style="font-size: 20px;">Bank- State Bank of India </h4>
                <h4 class="textt" style="font-size: 20px;"> Name: Pt. Dinesh Shukla </h4>
                <h4 class="textt" style="font-size: 20px;"> Account no.- 10298414520</h4>            
                <h4 class="textt" style="font-size: 20px;"> IFSC- SBIN0001962 </h4>
                <h4 class="textt" style="font-size: 20px;">  Kanpur (U.P.) </h4>
                 </center>
                 </div>  
        </div>
    </div>
    <hr>
















    <footer>
        <div class="footer-main">
            <div class="container">

				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Vaidikpooja</h4>
                            <p>It's an Online platform through which users can contact with our pandit's for various customs ,rituals and pooja recitations virtually</p> 
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/services">Service</a></li>
                                <li><a href="/team">Our Teams</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                                <li><a href="/order">Book Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address:Panki Mandir, <br>Near Gangaganj Colony, <br>Dakshineshwar Mandir <br> kanpur India </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: 9935724048</p>
                                </li>
                                <li>
                                    <p><i class="fab fa-whatsapp"></i>Whatsapp: 6394048201</p>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Vaidikpooja</a> Powered By :
            <a href="https://bytezip.in/">Bytezip Technologies</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none; line-height: 35px !important;">&uarr;</a>
    <script>


    window.addEventListener( "pageshow", function ( event ) {
    var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
    if ( historyTraversal ) {
        // Handle page restore.
        window.location.reload();
    }
    });


    function validate(evt) {
       var theEvent = evt || window.event;
     
       // Handle paste
       if (theEvent.type === 'paste') {
           key = event.clipboardData.getData('text/plain');
       } else {
       // Handle key press
           var key = theEvent.keyCode || theEvent.which;
           key = String.fromCharCode(key);
       }
       var regex = /[0-9]|\./;
       if( !regex.test(key) ) {
         theEvent.returnValue = false;
         if(theEvent.preventDefault) theEvent.preventDefault();
       }
     }


     function charOnly(evt) {
       var theEvent = evt || window.event;
     
       // Handle paste
       if (theEvent.type === 'paste') {
           key = event.clipboardData.getData('text/plain');
       } else {
       // Handle key press
           var key = theEvent.keyCode || theEvent.which;
           key = String.fromCharCode(key);
       }
       var regex =/^[A-Za-z\s]+$/;
       if( !regex.test(key) ) {
         theEvent.returnValue = false;
         if(theEvent.preventDefault) theEvent.preventDefault();
       }
     }

     // set current date to date inpute
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("date").setAttribute("min", today);


       
    </script>
    
     <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


</body>

</html>