{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>vaidik</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css ' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css ' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0
        }

        /* body {
            background: #eee;
            font-family: 'Ubuntu', sans-serif
        } */

        .box {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px
            height: 198px !important;
        }

        .our-services {
            margin-top: 125px;
            padding-bottom: 30px;
            padding: 0 60px;
            min-height: 198px;
            text-align: center;
            border-radius: 10px;
            background-color: #fff;
            transition: all .4s ease-in-out;
            box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
        }

        .our-services .icon {
            margin-bottom: -16px;
            transform: translateY(-35%);
            text-align: center;
            justify-content: center;
            margin-left: -5px;

        }
        .our-services h4{
            font-weight: bold;
            color: darkred;
            font-size: 20px;
        }
        .our-services p{
            color: black;
        }

        .our-services:hover h4,
        .our-services:hover p {
            color: #fff
        }

        .speedup:hover {
            box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
            cursor: pointer;
            background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
        }

        .settings:hover {
            box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
            cursor: pointer;
            background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
        }

        .privacy:hover {
            box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
            cursor: pointer;
            background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
        }

        .backups:hover {
            box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
            cursor: pointer;
            background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
        }

        .ssl:hover {
            box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
            cursor: pointer;
            background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
        }

        .database:hover {
            box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
            cursor: pointer;
            background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
        }

        /* .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
      
      .button:hover {
        background-color: #555;
      } */
    </style>
</head>

<body>

    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
							<option>¥ JPY</option>
							<option>$ USD</option>
							<option>€ EUR</option>
						</select>
                    </div> -->
                    <!-- <div class="right-phone-box">
                        <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                    </div> -->
                    {% comment %} <div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone-square"></i> 0755-4012502</a></li>
                            <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            <li><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container-fluid">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <img src="{% static 'images/mylogo.png' %}" alt="" srcset="" style="width:80px;  ">
                    <!-- <a class="navbar-brand" href="/" -->
                        <!-- style="font-weight: bold;  color: red;  font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp; VAIDIKPOOJA</a> -->
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item "><a class="nav-link" href="/">&nbsp;Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about-us">&nbsp;About us</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/services">&nbsp;Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="/team">&nbsp;Our Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact-us">&nbsp;Contact us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/order">&nbsp;Book Online</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->

            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Services</h2>
                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>






    <div class="container-fluid mb-5">
        <!-- <div class="text-center mt-5">
            <h1>Our Services</h1>
        </div> -->
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon"> <img src="{% static 'images/221.png' %}"> </div>
                        <h4>रुद्राभिषेक</h4>
                        <p>भगवान शिव का रुद्राभिषेक करते समय महामृत्युंजय मंत्र शिव तांडव स्तोत्र ओम नम: शिवाय या 
                            रुद्रामंत्र का जप करते रहें अभिषेक के समय घर पर सभी लोग मौजूद रहें और ओम नम: शिवाय मंत्का
                            जप करते रहें अभिषेक से एकत्रित पानी को पूरे घर पर छिड़क दें और  पीने के लिए  दें. </p>
                            <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services speedup">                        
                        <div class="icon"> <img src="{% static 'images/222.png' %}"> </div>
                        <h4>महामृत्युंजय मंत्र</h4>
                        <p> **ॐ हौं जूं स: ॐ भूर्भुव: स्व: ओम त्रयम्बकम् यजामहे सुगन्धिं पुष्टिवर्धनम उर्वारुकमिव बन्धनान
                            मृत्योर्मुक्षीय मामृतात् भूर्भुव: स्वरोम जूं स:।** जब भी आप इस मंत्र का
                            जाप करें तो शुद्धता का विशेष रूप से ध्यान रखें। अत: मंत्र का उच्चारण एक दम सही होना चाहिए.
                        </p>
                        <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services privacy" >
                        <div class="icon"> <img src="{% static 'images/210.png' %}"> </div>
                        <h4>शत चण्डी पाठ</h4>
                        <p>यदि आप शत चण्‍डी पाठ, दुर्गा सप्‍तशती का पाठ करने जा रहे हैं तो कुछ सावधानियां बरतना
                            आपके लिए बहुत ही जरूरी है अन्‍यथा अच्‍छे के स्‍थान पर बुरे परिणाम भी भोगने पड़ सकते हैं जैसे कि चण्‍डी पाठ करने वाले प्रत्‍येक व्‍यक्ति का अनुभव है, &nbsp;&nbsp;
                            
                            <br>
                            <br></p>
                            <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a>  
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services speedup">
                        <div class="icon"> <img src="{% static 'images/213.png' %}"> </div>
                        <h4>दुर्गा पाठ</h4>
                        <p>नवरात्रि के नौ दिनों में विधि विधान से मां दुर्गा की उपासना की जाती है इसी के साथ    मां दुर्ग  के पाठ करने का भी विधान है। दुर्गा सप्तशती में कुल 13 अध्याय हैं जिसमें मां अम्बे की महिमा बताई गई है माना जाता है कि इसका विधि विधान से पाठ करने से शुभ फल की प्राप्ति कर सकते हो!

                            <br>
                            </p>
                           <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/icon/55.png' %}"> </div>
                        <h4>महालक्ष्मी पूजा</h4>
                        <p>पूजा मुहूर्त में महालक्ष्मी की मूर्ति की स्थापना करें और उनकी अक्षत दूर्वा लाल सूत
                            सुपारी नारियल फल मिठाई  चन्दन पत्र माला सफ़ेद कमल या कमल का फूल और कमलगट्टा
                            अर्पित कर पूजा करें। फिर लक्ष्मी जी को सफेद बर्फी या किशमिश का भोग लगाएं। और फिर
                            महालक्ष्मी की कथा सुनें। 

                            <br>
                            <br></p>
                             <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services ssl">
                        <div class="icon"> <img src="{% static 'images/icon/58.png' %}"> </div>
                        <h4>सत्यनारायण पूजा</h4>
                        <p>सत्यनारायण भगवान की कथा लोक में प्रचलित है एवं हिंदू धर्मावलंबियो के बीच सबसे प्रतिष्ठित व्रत कथा के रूप में भगवान विष्णु के सत्य स्वरूप की सत्यनारायण व्रत कथा है। भगवान सत्यनारायण को नारायण विष्णु के रूप में पूजना ही सत्यनारायण की पूजा है। संसार में एकमात्र नारायण ही सत्य हैं.
                        
                    <br></p>
                             <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services database">
                        <div class="icon"> <img src="{% static 'images/210.png' %}"> </div>
                        <h4>पीतांबरा</h4>
                        <p>सभी को सबसे पहले गंगाजल से पवित्र कर लें। इसके बाद आचमन कर हाथ धोएं आसन भी पवित्र करें। माता बगलामुखी व्रत का संकल्प हाथ में पीले चावल, पीले फूल व दक्षिणा लेकर करें। माता की
                            पूजा  धूप, दीप, अगरबत्ती, पीले फल, पीले फूल, पीले लड्डू का प्रसाद चढ़ा कर करना चाहिए!
                            <br>
                            <br></p>
                            <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a>  
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/icon/57.png' %}"> </div>
                        <h4>वास्तु प्राप्ति</h4>
                        <p>वास्तु प्राप्ति के लिए जैसे अनुष्ठान, भूमि पूजन, नींव खनन, कुआं खनन, शिलान्यास, द्वार स्थापन गृह
                            प्रवेश आदि अवसरों पर वास्तु देव पूजा का विधान है। घर के किसी भी भाग को तोड़ कर दोबाराबनाने
                            से वास्तु भंग दोष लग जाता है। इसकी शांति के लिए वास्तु देव पूजन  की जाती है। 
                            <br>
                            <br>
                            </p>
                           <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a>  
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/211.png' %}"> </div>
                        <h4>गणेश पूजा</h4>
                        <p>गणेश भगवान की मूर्ति की स्‍थापना के बाद गणेश जी को सिंदूर लगाएं। गणपति की मूर्ति के पास तांबे या चांदी के कलश में जल भरकर रख लें। उस कलश को गणपति के दांई ओर रखें और उन्हें चांदी का वर्क लगाएं। इसके बाद भगवान जनेऊ लाल पुष्‍प  दूब मोदक नारियल आदि सामग्री अर्पित करें। </p>
                     <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a>  
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services ssl">
                        <div class="icon"> <img src="{% static 'images/214.png' %}"> </div>
                        <h4>परशुराम जयंती</h4>
                        <p> भगवान परशुराम जी की जयंती हिन्दू पंचांग के वैशाख माह की शुक्ल पक्ष तृतीया को मनाई जाती है। इसे “परशुराम द्वादशी” भी कहा जाता है। अक्षय तृतीया को परशुराम जयंती के रूप में भी मनाया जाता है।
                             <br>
                             <br>
                        <br>
                        <br>
                        </p>
                     <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services database">
                        <div class="icon"> <img src="{% static 'images/212.png' %}"> </div>
                        <h4> सरस्वती पूजा</h4>
                        <p>**या वीणावरदण्डमण्डितकरा या श्वेतपद्मासना!! या ब्रह्माच्युत शंकरप्रभृतिभिर्देवैः सदा वन्दिता!! सा माम् पातु सरस्वती भगवती निःशेषजाड्यापहा !! शुक्लाम् ब्रह्मविचार सार परमाम् आद्यां जगद्व्यापिनीम्!!**
                            <br>
                        <br>
                        <br>
                        <br>
                        </p>
                           <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/215.png' %}"> </div>
                        <h4>श्रीमद्भगवद्‌गीता</h4>
                        <p>महाभारत के अनुसार कुरुक्षेत्र के
                            युद्ध में भगवान श्री कृष्ण ने गीता का सन्देश अर्जुन को सुनाया था। यह महाभारत के भीष्मपर्व के अन्तर्गत दिया गया की
                            यह एक उपनिषद् है। भगवत गीता में एकेश्वरवाद, कर्म योग, ज्ञानयोग, भक्ति योग की बहुत सुन्दर ढंग से चर्चा की  है!
                        <br>
                        <br>
                        </p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/icon/56.png' %}"> </div>
                        <h4>पार्वती पूजा</h4>
                        <p>पार्वती जी की पूजा में माता को सुहाग की सारी पूजा सामग्रियों को पार्वती माता को चढ़ाएं  और विधिवत भगवान शिव और माता पार्वती की पूजा अर्चना करें। पूजा करने के बाद माता पार्वती जी की आरती करें एबम व्रत रखने के दौरान पूरे दिन में सिर्फ एक बार सात्विक भोजन ग्रहण करें!
                            <br>
                        <br>
                        <br>
                        <br></p>
                            <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a>  
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services ssl">
                        <div class="icon"> <img src="{% static 'images/216.png' %}"> </div>
                        <h4>ज्योतिष पूजा</h4>
                        <p>ज्योतिष पूजा जिसे लोकप्रिय भारतीय संस्कृति में भगवान के रूप में माना
                            जाता है, भगवान ज्योतिष, यानी सितारों के बारे में ज्ञान से प्राप्त होता है। सीधे शब्दों में कहें, यह ब्रह्मांड में सितारों, ग्रहों और अन्य दिव्य निकायों का अध्ययन है और यह कैसे एक व्यक्ति के जीवन को प्रभावित कर सकता है यह बताते हैं!
                        </p>
                        <br>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services database">
                        <div class="icon"> <img src="{% static 'images/icon/58.png' %}"> </div>
                        <h4>दैनिक पूजा</h4>
                        <p>दैनिक पूजा हिन्दू धर्म की कई उपासना पद्धतियों में से एक है। दैनिक मन्त्रों में
                            से प्रत्येक मन्त्र के आदि में ॐ लगाकर क्रमशः सूर्यादि नौ ग्रहों का पाद्यादि उपचारों से पूजन करते है। सभी देवताओं को प्रसन्न करने के लिये कई मन्त्र बताये गये हैं जो लगभग सभी पुराणों  में से हैं। वैदिक मन्त्र यज्ञ और हवन के लिये होते हैं।
                        
                    
                        <br>
                        <br>
                        </p>
                   <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                   </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/217.png' %}"> </div>
                        <h4>नवग्रह पूजन </h4>
                        <p> नवग्रह के संक्षिप्त पूजन के लिए कलश के सम्मुख एक पात्र या मिट्टी का प्याला रख ले। फिर बाएँ हाथ में गन्धाक्षत लेकर भावना से सामूहिक रूप में उन सबका निम्न मन्त्र का उच्चारण करते हुए आवाहन करे तथा यह मन्त्र पढ़कर उक्त पात्र में गन्धाक्षत मन्त्रों से प्रत्येक मन्त्र के आदि में ॐ लगाकर क्रमशः सूर्यादि नौ ग्रहों का पाद्यादि उपचारों से पूजन करे!
                            
                        </p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/218.png' %}"> </div>
                        <h4>पितृ दोष</h4>
                        <p>नवम पर जब सूर्य और राहू की युति हो रही हो तो यह माना जाता है कि पितृ दोष योग बन रहा होता है। शास्त्र के अनुसार सूर्य तथा राहू जिस भी कुण्डली में बैठते है, उस कुण्डली के सभी फल नष्ट हो जाते है। व्यक्ति की कुण्डली में एक ऎसा दोष है जो इन सब दु:खों को एक साथ देने की क्षमता रखता है, इस दोष को पितृ दोष कहते है! </p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services ssl">
                        <div class="icon"> <img src="{% static 'images/219.png' %}"> </div>
                        <h4>काल सर्प दोष पूजा</h4>
                        <p>काल सर्प दोष निवारण के लिए काल सर्प दोष पूजा की जाती है। कहा जाता है कि इस पूजा के बाद विवाह से लेकर संतान प्राप्ति तक के फल प्राप्त होते हैं।ज्यदातर शादी से पहले कुंडली देखी जाती है और काल सर्प दोष होने पर उसके निवारण के लिए त्रयंबकेश्वर के साथ ही उज्जैन में पूजा की जाती है!</p>
                           <br> 
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services database">
                        <div class="icon"> <img src="{% static 'images/220.png' %}"> </div>
                        <h4>मंगल दोष</h4>
                        <p>मांगलिक दोष वाले जातक को हनुमान चालीसा का पाठ करना चाहिए। मंगली लड़की एवं लड़के को गणेश जी और मंगल यंत्र की पूजा करनी चाहिए। मांगलिक को मंगलवार को व्रत करना चाहिए, हनुमान मंदिर जाकर प्रसाद चढ़ाने से दोष प्रभाव कम हो जाता है!
                        
                        <br>
                        <br>
                        <br>
                        </p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/icon/57.png' %}"> </div>
                        <h4>वास्तु प्राप्ति</h4>
                        <p>वास्तु प्राप्ति के लिए जैसे अनुष्ठान, भूमि पूजन, नींव खनन, कुआं खनन, शिलान्यास, द्वार स्थापन गृह
                            प्रवेश आदि अवसरों पर वास्तु देव पूजा का विधान है। घर के किसी भी भाग को तोड़ कर दोबाराबनाने
                            से वास्तु भंग दोष लग जाता है। इसकी शांति के लिए वास्तु देव पूजन  की जाती है।
                            <br>
                            <br>
                            </p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/icon/55.png' %}"> </div>
                        <h4>दीपावली पूजा</h4>
                        <p>शुभ मुहूर्त में महालक्ष्मी की मूर्ति की स्थापना करें और उनकी अक्षत दूर्वा लाल सूत
                            सुपारी नारियल फल मिठाई  चन्दन पत्र माला सफ़ेद कमल या कमल का फूल और कमलगट्टा
                            अर्पित कर पूजा करें। फिर लक्ष्मी जी को सफेद बर्फी या किशमिश का भोग लगाएं। और फिर
                            महालक्ष्मी की कथा सुनें! 
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services ssl">
                        <div class="icon"> <img src="{% static 'images/sai.png' %}"> </div>
                        <h4>कष्ट निवारण पूजा</h4>
                        <p>**कष्टों की काली छाया दुखदायी है  जीवन में घोर उदासी लायी है !
संकट को तालो साईं दुहाई है तेरे सिवा न कोई सहाई है !
मेरे मन तेरी मूरत समाई है हर पल हर शन महिमा गायी है !
घर मेरे कष्टों की आंधी आई है आपने क्यूँ मेरी सुध भुलाई है !
तुम भोले नाथ हो दया निधान हो,तुम हनुमान हो तुम बलवान हो !**
                        <br>
                        <br>
                        <br>
                        <br>
                    <br>
                <br></p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services database">
                        <div class="icon"> <img src="{% static 'images/devi.png' %}"> </div>
                        <h4>कात्यायनी देवी </h4>
                        <p>माता भगवती का छठा अवतार हैं माता कात्यायनी देवी, जिनकी  पूजन नवरात्र के छठे दिन विधि-विधान से की जाती है। कहा जाता है कि महर्षि कात्यायन ने मां भगवती को अपनी पुत्री के रूप में प्राप्त करने की अभिलाषा के साथ वन में कठोर तपस्या की थी। महर्षि की तपस्या से प्रसन्न होकर भगवती ने उन्हें पुत्री का वरदान दिया। इसके बाद महिषासुर नामक एक राक्षस के अत्याचार से मुक्ति दिलाने के लिए त्रिदेवों के तेज से एक कन्या का जन्म हुआ!
                        
                            </p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="our-services backups">
                        <div class="icon"> <img src="{% static 'images/icon/56.png' %}"> </div>
                        <h4> हरतालिका पूजा</h4>
                        <p>हर-तालिका व्रत को हरतालिका तीज एवं तीजा भी कहते हैं। यह व्रत भाद्रपद मास के शुक्ल पक्ष की तृतीया को हस्त नक्षत्र के दिन होता है। इस दिन कुँवारी और सौभाग्यवती स्त्रियाँ गौरी-शंकर की पूजा करती हैं।  इस दिन व्रत करने वाली स्त्रियां सूर्योदय से पूर्व ही उठ जाती हैं एवं स्नान करके  पूरा श्रृंगार करती हैं!
                        <br>
                        <br>
                        <br>
                        <br>
                    <br></p>
                    <hr>
                            <a href="/order" class="btn" style="margin: 5px; padding: 5px; color: darkred;
                            cursor: pointer; border-radius: 15px;">Book Now</a> 
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer>
            <div class="footer-main">
                <div class="container">
           <!--------------<div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Business Time</h3>
                                <ul class="list-time">
                                    <li>Monday - Friday: 08.00am to 05.00pm</li>
                                    <li>Saturday: 10.00am to 08.00pm</li>
                                    <li>Sunday: <span>Closed</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Newsletter</h3>
                                <form class="newsletter-box">
                                    <div class="form-group">
                                        <input class="" type="email" name="Email" placeholder="Email Address*" />
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <button class="btn hvr-hover" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Social Media</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>--------->
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-widget">
                                <h4>About Vaidikpooja</h4>
                                <p>It's an Online platform through which users can contact with our pandit's for various customs ,rituals and pooja recitations virtually</p> 						
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link">
                                <h4>Information</h4>
                                <ul>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/services">Service</a></li>
                                <li><a href="/team">Our Teams</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                                <li><a href="/order">Book Now</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link-contact">
                                <h4>Contact Us</h4>
                                <ul>
                                    <li>
                                        <p><i class="fas fa-map-marker-alt"></i>Address:Panki Mandir, <br>Near Gangaganj Colony, <br>Dakshineshwar Mandir <br> kanpur India </p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-phone-square"></i>Phone:9935724048</p>
                                    </li>
                                    <li>
                                        <p><i class="fab fa-whatsapp"></i>Whatsapp:6394048201</p>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer  -->

        <!-- Start copyright  -->
        <div class="footer-copyright">
            <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Vaidikpooja</a> Powered By :
                <a href="https://bytezip.in/">Bytezip Technologies</a></p>
        </div>
        <!-- End copyright  -->

        <a href="#" id="back-to-top" title="Back to top" style="display: none; line-height: 35px !important;">&uarr;</a>

        <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>