{% comment %} 
HELOO 
{% for i in services  %}
<h1>{{i.name}}</h1>
{% endfor %}

<select class="form-control">
    {% for i in services  %}
  <option>{{i.name}}</option>
  {% endfor %}
</select> {% endcomment %}

<form method="POST" action="/orderSave">
 {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
  </div>
  <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
  </div>

    <div class="form-group">
    <label for="name">Phone</label>
    <input type="text" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
  </div>

    <div class="form-group">
    <label for="name">Select Pooja</label>
    <select name="service" class="form-control">
    {% for i in services  %}
        <option value="{{ i.id }}">{{i.name}}</option>
    {% endfor %}
    </select>
    </div>

     <div class="form-group">
    <label for="pooja_date">Pooja Date</label>
    <input type="date" class="form-control" id="pooja_date" name='pooja_date' placeholder="Select Pooja Date">
  </div>
<button type="submit" class="btn btn-success">Submit</button>
<h2>{{message}}</h2>
</form>